<html>
<head>
  <meta charset="utf-8" />
  <title>Game Over</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>

      Game Over!

    </body>
  </html>
